---
layout: default
---
<link rel="stylesheet" href="https://doublejay9.github.io/blog3/assets/css/form.css">

<article class="post">

	{% if page.external-url %}
		<h1>
			<a href="{{ page.external-url }}">{{ page.title }}</a> 
			<a class="anchor" href="{{ site.baseurl }}{{ page.url }}"><i class="icon-anchor"></i></a>
		</h1>
	{% else %}
		<h1><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>
	{% endif %}

	<div class="post-content">{{ content }}</div>

	<p class="meta">Posted on <span class="postdate">{{ page.date | date: "%b %d, %Y" }}</span></p>
	
	<hr>
	<form method="POST" action=#>
		<input name="options[redirect]" type="hidden" value="{{ site.baseurl }}/{{ post.url }}">
		<input name="options[slug]" type="hidden" value="{{ page.slug }}">
		<p>
			<label for="fields[name]">Name:</label>
			<input type="text" name="fields[name]" id="name">
		</p>
		<p>
			<label for="fields[email]">Email:</label>
			<input type="email" name="fields[email]" id="email">
		</p>
		<p>
			<label for="fields[message]">Message</label>
			<textarea name="fields[message]" id="message"></textarea>
		</p>
		<p class="submit">
			<input type="submit" value="Submit" class="btn-submit">
		</p>
	</form>

</article>
